/* global styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap");

/* variables */
:root {
  /* palette */
  --main-gray: #656e79;
  --main-brown: #b78b64;
  --main-dark-green: #334649;
  --main-olive-green: #959e87;
  --main-white: #f6fefb;
  --main-black: #222222;

  /* font family */
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Lato", sans-serif;

  /* font scale */
  --font-size-max: 5.96em;
  --font-size-9: 3.052em;
  --font-size-8: 2.441em;
  --font-size-7: 1.953em;
  --font-size-6: 1.563em;
  --font-size-5: 1.25em;
  --font-size-4: 1em;
  --font-size-3: 0.8em;
  --font-size-2: 0.64em;
  --font-size-1: 0.512em;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--secondary-font);
}

h1 {
  font-size: var(--font-size-9);
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--main-gray);
}

.container {
  padding: 24px;
}
